<!-- jQuery 3.3.1 -->
<script src="/bootstrap/jquery-3.3.1.slim.min.js"></script>

<!-- popper.js -->
<script src="/bootstrap/popper.min.js"></script>

<!-- Bootstrap 4.2 JS -->
<script src="/bootstrap/bootstrap.min.js"></script>

</body>

</html>
