.navbar, .card-header {
	background-color: rgb(113, 78, 218);
}


/* diferentiates 'users' cards from 'users/:id' cards */
.card-sm {
	width: 18rem;
}

.card-header {
	color: white;
}


.bold {
	font-weight: bold;
}


@media (min-width: 768px) {
	.form-control {
		width: 600px;
		margin: 0 auto;
	}
}
