<% include partials/header.ejs %>

<div class="row">
	<div class="col-md-12 form-group text-center">
		<h2>Editar '<%= user.name %>'</h2>
		
		<form action="/users/<%= user._id %>?_method=PUT" method="POST">
			<div>
				<label>Nome</label>
				<input type="text" class="form-control" name="user[name]" value="<%= user.name %>" required>
			</div>

			<div>
				<label>Email</label>
				<input type="email" class="form-control" name="user[email]" value="<%= user.email %>" required>
			</div>

			<button type="submit" class="btn btn-outline-secondary mt-2">Salvar edição</button>
		</form>
	</div>
</div>

<% include partials/footer.ejs %>