<% include partials/header.ejs %>

<h1>Index page</h1>

<a href="/users" class="btn btn-outline-secondary" role="button">View all users</a>

<a href="/api/users" class="btn btn-outline-secondary" role="button">View all users in JSON format</a>

<a href="/users/new" class="btn btn-outline-secondary" role="button">Create new user</a>

<% include partials/footer.ejs %>