<% include partials/header.ejs %>

<div class="text-center">
	<h1>Bem vindo!</h1>

	<a href="/users" class="btn btn-outline-secondary" role="button">Ver lista de usuários</a>

	<a href="/api/users" class="btn btn-outline-secondary" role="button">Ver lista em JSON</a>

	<a href="/users/new" class="btn btn-outline-secondary" role="button">Criar novo usuário</a>
</div>

<% include partials/footer.ejs %>
