<% include partials/header.ejs %>

<h1>Index page</h1>

<a href="/users">View users</a>

<a href="/api/users">View users in JSON format</a>

<a href="/users/new">Create new user</a>

<% include partials/footer.ejs %>