<% include partials/header.ejs %>

<div class="row">
	<div class="col-md-12 form-group text-center">
		<h2>Criar novo usuário</h2>

		<form action="/users" method="POST">
			<div>
				<label>Nome</label>
				<input type="text" class="form-control" name="user[name]" placeholder="name" required>
			</div>

			<div>
				<label>Email</label>
				<input type="email" class="form-control" name="user[email]" placeholder="name@email.com" required>
			</div>

			<button type="submit" class="btn btn-outline-secondary mt-2">Criar usuário</button>
		</form>
	</div>
</div>


<% include partials/footer.ejs %>
